*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.main-page {
  .main-pg {
    &-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &-navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 75vw;
      height: 84px;
      padding: 10px;
      border-bottom: 1px solid #b9b1b1 ;
      // background-color: pink;
      .navbar-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        &-name {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            font-size: 21px;
            font-family: "Lora", serif;
            font-weight: 600;
          }
        }
        img {
          height: 74px;
          width: auto;
        }
      }

      .navbar-more-info {
        display: flex;
        align-items: center;
        gap: 20px;
        .navbar-location {
          display: flex;
          align-items: center;
          gap: 12px;
          .icon {
            font-size: 27px;
            color: #4096FF ;
          }
          .data {
            font-size: 16px;
            &-content-1 {
              font-weight: bold;
            }
            &-content-2 {
              color: #222222;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
        .navbar-join-button{
          button.ant-button.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid {
            font-size: 14px;
            height: 40px;
            padding: 0px 15px;
            border-radius: 6px;
        }
        }
      }
      
    }

    &-navlinks {
      display: flex;
      align-items: center;
      gap: 23px;
      width: 75vw ;
      margin: 15px auto;
      padding: 10px 0; 
      justify-content: flex-start;
      li {
        list-style: none;
        
        font-size: 22px;
        // font-family: "Roboto", sans-serif;
        font-weight: 800;
        // color: black;
        cursor: pointer;
        a{
          text-decoration: none;
          color: black;
          &:hover {
            color: #0f39d3; // Change color on hover
          }
        }
      }
    }
    &-homepg {
      background-image: url(../public/banner-1.jpeg);
      // height: 100%;
      height: 450px;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
